<html>
  <head>
    <title>Curriculo Virtual</title>
    <link href="./app.component.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #5d5f5f;">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="https://www.svgrepo.com/show/422796/audio-laptop-media.svg" width="30" height="30" alt="">
          </a>
            <span class="navbar-brand">Curriculo Virtual</span>
        </div>
       
    </div>
</nav>
    
  </body>
</html>
<router-outlet></router-outlet>
