<html>
  <head>
    <title>Portifolio Pessoal</title>
    <link href="./app.component.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #a7a7a7;">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="https://www.svgrepo.com/show/422796/audio-laptop-media.svg" width="30" height="30" alt="">
            </a>
              <span class="navbar-brand">Portifolio Pessoal</span>
          </div>
          <div class="github">
            <a class="btn btn-outline-secondary" href="https://github.com/EricCarv" role="button">
              <img src="https://www.svgrepo.com/show/344880/github.svg" height ="15" width="15" />
            </a>
          </div>
      </div>
    </nav>
    <main class="stl">
      <div class="container">
        <div class="stl">
          <h2 class="tit">Seja bem vindo ao meu Portifolio Virtual!</h2>
          <h5>Nesta pagina voce podera encontrar algumas informações a mais sobre mim</h5>
          <h5>Os botões a baixo vão te ajudar a navegar pelos principais topicos desta pagina </h5> 
          <div class="bt-container">
            <a class="btn btn-outline-primary" href="sobre" role="button">Sobre mim</a>
            <a class="btn btn-outline-primary" href="#" role="button">Projetos</a>
            <a class="btn btn-outline-primary" href="#" role="button">Minha formação</a>

          </div>
        </div>
        <div>
          <h1 class="apre">Projetos</h1>
          <span>Sempre gostei muito de desenvolver projetos, testar coisas novas, e me desafiar meus conhecimentos</span>
          <br>
          <span>Vou listar aqui alguns projetos que me envolvi nos ultimos anos e acho que merecem destaque</span>
          <br>
        </div>
        <div>
          <ul>
            <li>
              <h3>Sitema gerenciador de Aumoxarifados Automatizado</h3>
              <h4>2021 - 2022</h4>
              <br>            
              <span>Participei junto a outros 2 desenvolvedores, da criação de um sistema de gerenciamento automatizado do estoque de um dos Batalhoes do corpo de bombeiros do Paraná</span>
              <br>
              <span>Esse sitema consistia em uma interface cliente-servidor desenvolvida utilizando as linguagens Django, Phyton e MySql. </span>
              <span>Para realizar o controle dos equipamentos do local foram utilizadas Tags NFC para facilitar o registro de entrada e saida dos mesmos. Desenvolvemos leitores de baixo custo utilizando microcontroladores da familia ESP</span>
              <br>
              <span>Desenvolvemos tambem controle de acesso e debloqueio do local com autenticação e registro no servidor para facilitar a rastreabilidade</span>
              <br>
              <span>Mais informações desse projeto podem ser encontradas neste Artigo, publicado pelo tenente do corpo de bombeiros Lucas Gross</span>
              <a href="https://www.brazilianjournals.com/index.php/BRJD/article/view/45226"> Link para o Artigo </a>
            </li>
            <li>
              <h3>Estação metereologica de baixo custo</h3>
              <h4>2017 - 2022</h4>
              <span>Este projeto tinha como intuito a criação de uma estação metereologica visando o menor custo de produção possivel</span>
              <br>
              <span>O projeto passou por diversas modicações durante seu desenvolvimento, dentre elas foi o modo de distibuição das informações. No pricipio as informações coletadas eram enviadas de forma autonoma ao perfil do twitter </span>
              <a href="https://twitter.com/Chuvibot"> Ardulindo do tempo </a>
              <br>
              <img src="https://pbs.twimg.com/profile_banners/989650347047243777/1529534870/1500x500" height ="300" width="1000" />
              <h6>imagem do perfil do bot no twitter</h6>
              <br>
              <span>Apos realizamos uma mudança de plataforma de microcontroladores da familia Arduino para microprocessadores da familia ESP</span>
              <br>
              <span>Nessa fase do desenvolvimento foi possivel levar o prototipo para alguns eventos cientificos, em que alguns até recebeu uma premiação</span>
              <span>Dentre os eventos apresentados estão:</span>
              <br>
              <span>-VII SE²PIN</span>
              <br>
              <a href="https://colombo.ifpr.edu.br/index.php/2018/11/05/estudantes-do-campus-colombo-apresentaram-projetos-na-xi-mostra-de-solucoes-para-uma-vida-melhor/">-XI Mostra de Soluções Para Uma Vida Melhor</a> 
              <br>
              <a href="https://colombo.ifpr.edu.br/index.php/2019/11/27/estudantes-do-campus-colombo-conquistam-as-tres-primeiras-colocacoes-em-mostra-nacional/">-1º Mostra Brasileira de Inovação, Pesquisa Científica e Empreendedorismo (MOBIPE)</a>   
              <br>
              <span>-III MOSTRA CIENTÍFICA ECOINOVAR (1º lugar na categoria Ensino Tecnico)</span>
            </li>       
          </ul>
        </div>
        <div class="apre">
          <h1 class="apre"><a name="sobre"></a>Sobre mim</h1>
          <span>Me chamo Ericsson tenho 20 anos e sou apaixonado por tecnologia.</span>
        </div>

      </div>
    </main>
    <footer>
      <h6 class="footer" >Developed by Ericsson Carvalho - 2022</h6>
    </footer>  
  </body>
</html>
<router-outlet></router-outlet>
