<html>
  <head>
    <title>Portifolio Pessoal</title>
    <link href="./app.component.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #a7a7a7;">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="https://www.svgrepo.com/show/422796/audio-laptop-media.svg" width="30" height="30" alt="">
            </a>
              <span class="navbar-brand">Portifolio Pessoal</span>
          </div>
          <div class="github">
            <a class="btn btn-outline-secondary" href="https://github.com/EricCarv" role="button">
              <img src="https://www.svgrepo.com/show/344880/github.svg" height ="15" width="15" />
            </a>
          </div>
      </div>
    </nav>
    <main>
      <div class="container">
      <div class="apre">
        <h1 class="apre">Sobre mim</h1>
        <span>Me chamo Ericsson tenho 20 anos</span>
      </div>

      </div>
    </main>
    <footer>
      <h6 class="footer" >developed by Ericsson Carv - 2022</h6>
    </footer>  
  </body>
</html>
<router-outlet></router-outlet>
