/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(245, 237, 237) !important;    
}

github{
    margin-top: 10px !important; 
}

h1.apre{
    background-color: rgb(30, 144, 255) !important;
    outline: 3px !important;
}
h6.footer{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important
}
h2.tit{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important
}
div.stl{
    background-color: rgb(215, 222, 224) !important;
}